/* Center body content */

.minigame-global-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1em;
}

.minigame-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.minigame-container .health-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: red;
}

.minigame-container .health-bar-container .health-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
}

.minigame-container .tree {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.minigame-container .tree img {
  /* Center */
  flex: 0 0 auto;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
