<template id="woodcutting-minigame">
  <div class="minigame-global-container">
    <div class="minigame-container" :style="{
      width: width + 'px',
      height: height + 'px',
    }">
      <!-- <div class="health-bar-container">
        <div
          class="health-bar"
          :style="{
            width: (currentTree.health / selectedTree.maxHealth) * 100 + '%',
          }"
        ></div>
      </div> -->
      <div class="tree">
        <!-- Draw all collision box -->
        <div
          v-for="collision in selectedItem.collisions"
          :key="collision.x + collision.y"
          :style="{
            position: 'absolute',
            top: (collision.y  / 400 * 100) + '%',
            left: (collision.x  / 400 * 100) + '%',
            width: (collision.width  / 400 * 100) + '%',
            height: (collision.height  / 400 * 100) + '%',
            background: debug ? 'rgba(255, 0, 0, 0.5)' : 'transparent',
            cursor: 'pointer',
          }"
          @click="defaultTap"
        ></div>

        <!-- Draw weakspot -->
        <!-- Randomly change the rotation -->
        <img
          v-if="weakSpot !== null"
          :style='{
              position: "absolute",
              top: (weakSpot?.y  / 400 * 100 ) +"%",
              left: (weakSpot?.x  / 400 * 100 ) +"%",
              width: (weakSpot?.width  / 400 * 100 ) +"%",
              height: (weakSpot?.height  / 400 * 100 ) +"%",
              cursor: "pointer",
              transform: "rotate(" + Math.random() * 360 + "deg)",
            }'
          @click="weakspotTap"
            :src="weakSpot?.image ?? ''"
            alt="weakspot"
        >
        </img>

        <img :src="selectedItem.image" alt="tree" />
      </div>
    </div>
  </div>
</template>
